@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Bebas Neue', cursive;
}

.App {
  text-align: center;
  background-image: url('./image/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.App-home {
  text-align: center;
  background-image: url('./image/bg.jpg');
  background-position: center;
  height: 100vh;
  overflow: hidden;
  font-size: 10px;
}

.logo-btn{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.logo-btn .logotex {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo-btn .logotex::after {
  content: "";
  position: absolute;
  border-width: 0.0001px;
  border-style: solid;
}

.logo-btn:hover .logotex{
  visibility: visible;
}

.logo-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo-btn.bottom .logotex{
  margin-left: -60px;
  /* top: 150%; */
  left: 50%;
}
.logo-btn.bottom .logotex::after{
  margin-left: -5px;
  bottom: 100%;
  left: 50%;
  border-color: transparent transparent #2E2E2E transparent;
}

.GitHub {
  color: black;
  position: relative;
  display: inline-block;
}

.GitHub .gittex {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}

.GitHub .gittex::after {
  content: "";
  position: absolute;
  border-width: 0.001px; 
  border-style: solid;
}

.GitHub:hover .gittex {
  visibility: visible;
}

.GitHub:hover {
  color: #218838;
}

.InputCoeficiente {
  max-width: 6em;
  min-width: 5em;
}


td.btnSize {
  width: 160px
}

.App-link {
  color: #db1098;
}
