.App {
  text-align: center;
  background-image: url('./image/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.InputCoeficiente {
  max-width: 5em;
  min-width: 4em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0);
}

td.btnSize {width:160px}

.App-link {
  color: #db1098;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


